



<div style = "background-color: white;">


<div class = "reviews-main-text-container">

    <p class = "reviews-text">OFRECEMOS LAS MEJORES <span class = "blue-text">SOLUCIONES <br>PARA QUE TU </span>EMPRESA CREZCA</p>
</div>
<div class = "carrusel">

    <div class = "visible-carrusel" >
        <div class = "contenedor-cajas">

            <div class = "caja" >
                <div class = "logos">
                    <img src = "./assets/img/reviews/logo-profesionalurbano.png">
                </div>
               
                <div class = "text-container">
                   
                    <p class = "member-name">Fernando M. C.</p>
                    <p class = "member-position">ProfesionalUrbano</p>
                    <p class = "member-description">"Recomiendo ampliamente
                         a BWL. Desde el primer día se enfocaron en entender mis 
                         requerimientos; y durante el proceso de diseño y construcción 
                         fueron muy profesionales. Siempre estuvieron en disposición de
                          mostrarme
                         los avances y el producto final quedó excelente. 
                         Seguro seguiré trabajando con ellos".
                    </p>
                </div>
               
            </div>
            <div class = "caja" >
                <div class = "logos">
                    <img src = "./assets/img/reviews/logo-motum.png">
                </div>
               
                <div class = "text-container">
                   
                    <p class = "member-name">Luisa G.</p>
                    <p class = "member-position">Tecnomotum</p>
                    <p class = "member-description">En Grupo 
                        Tecnológico BWL hemos encontrado un asociado
                         de negocios robusto, confiable, que satisface 
                         nuestras necesidades y también nos propone nuevas 
                         tecnologías a implementar, la interacción entre equipos 
                         es fluida, fiable 
                        y nos representa un gran soporte para el logro de nuestros objetivos
                    </p>
                </div>
               
            </div>

            <div class = "caja" >
                <div class = "logos">
                    <img src = "./assets/img/reviews/logo-motum.png">
                </div>
               
                <div class = "text-container">
                   
                    <p class = "member-name">Carlos F. V.</p>
                    <p class = "member-position">Tecnomotum</p>
                    <p class = "member-description">BWL es una 
                        excelente empresa de tecnología que nos ha 
                        ayudado en el desarrollo de pantallas especializadas 
                        para nuestra plataforma, así como en el desarrollo 
                        de Aplicaciones móviles de módulos especiales de la misma plataforma.
                    </p>
                </div>
               
            </div>


           


            
           
           
            
            


        </div>

    </div>
   

</div>

<div class = "button-container">
    <button class = "displace-button"(click) = "displaceBox()">></button>
</div>

</div>




